/* 
Styling for the error message popup section. Will remain hidden until called.
*/

.error-popup {
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  font-weight: 600;
  color: darkred;
  border: darkred;
  border-bottom: darkred;
  border-top-style: dashed;
  border-bottom-style: dashed;
  display: none;
}