/*
* Main header styling sheet. For mobile & tablet view.
*/

header {
  margin-top: 115px;
  height: 400px;
  background-color: goldenrod;
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}