/* 
* Tweet from styling for both desktop & mobile. 
*/
.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
}

.tweet-button {
  background-color: #4056A1;
  font-family: 'Bungee', cursive;
  color: white;
  font-size: large;
}

.counter {
  font-family: 'Bungee', cursive;
  color: #545149;
  font-size: xx-large;
  align-self: flex-end;
 
}

#tweet-submit-and-count {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#tweet-text {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid #545149;
  background-color: #f4f1ec;
  width: 100%;
  margin: auto;
  font-weight: 600;
}

